@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "DM Sans", sans-serif;
  font-family: "Titan One", cursive;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.product-title {
  text-align: center;
  margin-bottom: 281px;
}

.product-title__label {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 16px;
}

.produkt-title__title {
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}

.product-list {
  display: block;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}

.product-list__box {
  display: block;
  position: relative;
  width: 368px;
  height: 535px;
  padding: 165px 63px 60px 64px;
  background-color: #ffb8ca;
  border-radius: 24px;
}

.product-list__box.pic::before {
  position: absolute;
  top: -250px;
  left: 0;
  content: "";
  width: 368px;
  height: 394px;
  background-size: contain;
  background-image: url(/src/images/ice-cream-min.png);
}

.product-list__box.inner {
  background-color: #f0d1a5;
}

.product-list__box.inner::before {
  position: absolute;
  top: -250px;
  left: 0;
  content: "";
  width: 368px;
  height: 394px;
  background-size: contain;
  background-image: url(/src/images/ice-coffee-min.png);
}

.holder {
  background-color: #c2e297;
}

.product-list__box.holder::before {
  position: absolute;
  top: -250px;
  left: 0;
  content: "";
  width: 368px;
  height: 394px;
  background-size: contain;
  background-image: url(/src/images/milkshakes-min.png);
}

.product-list__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.product-list__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.testimonials__avatars {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
}

.testimonials__author {
  text-align: center;
}

.testimonials__quote {
  padding: 43px 50px 17px 50px;
  background-color: #EAEAEA;
  border: 1px solid;
  text-align: center;
}

.testimonials__text::before {
  content: "";
  background-image: url(../images/quote.svg);
  height: 54px;
  width: 40px;
}

.testimonials__text {
  padding: 0;
  margin: 0;
  background: repeating-linear-gradient(#FAFAFA 0px, #FAFAFA 30px, #E1E1E1 31px, #E1E1E1 32px);
  display: block;
  font-size: 12px;
  line-height: 2.5em;
}

.testimonials__quote {
  padding: 43px 50px 17px 50px;
  border: 1px solid;
  text-align: center;
  background-color: #FAFAFA;
}

.testimonials__quote::after {
  content: ". . .";
  color: red;
  font-weight: 900;
  font-size: 40px;
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  line-height: 1em;
}

.testimonials__author {
  text-align: center;
  font-size: 20px;
  line-height: 1.76em;
  font-weight: 500;
  margin-top: 36px;
  display: block;
}/*# sourceMappingURL=index.css.map */