@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "DM Sans", sans-serif;
  font-family: "Titan One", cursive;
}
body.no-scroll {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 320px) {
  .section {
    padding-top: 30px;
  }
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
  }
}

.header {
  background-color: #FFB8CA;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header__logo {
  margin-top: 8px;
  margin-bottom: 8px;
}

.header__menu-open {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: auto;
}

.header__menu-icon {
  stroke: #D41443;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-open:hover .header__menu-icon, .header__menu-open:focus .header__menu-icon {
  stroke: #FFFFFF;
}

.header__nav {
  display: none;
}
.header__nav.is-open {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  background-color: #E17992;
}

.header__menu-close {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 26px;
}

.header__close-icon {
  stroke: #FFFFFF;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-close:hover .header__close-icon, .header__menu-close:focus .header__close-icon {
  stroke: #D41443;
}

.header__modal-button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-self: center;
  width: 209px;
  padding: 11.5px 0;
  margin-bottom: 19px;
  border: 0;
  border-radius: 22px;
  background-color: #FFFFFF;
  color: #D41443;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__modal-button:hover, .header__modal-button:focus {
  background-color: #E1E1E1;
}

.header__arrow-icon {
  stroke: #D41443;
  margin-left: 21px;
}

.header__nav-item {
  padding: 13px 20px;
  border-top: 1px solid #E18298;
}
.header__nav-item:last-child {
  border-bottom: 1px solid #E18298;
}

.header__nav-link {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #D41443;
}

.header__nav-link--active {
  color: #D41443;
}

.hero {
  min-height: 502px;
  overflow: hidden;
  background-color: #FFB8CA;
}
.hero .container {
  position: relative;
}

.hero__circle {
  position: absolute;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background: #FFA5BA;
}

.hero__img {
  position: absolute;
  top: 9px;
  left: 81px;
  width: 171px;
}

.hero__title {
  position: relative;
  z-index: 2;
  padding-top: 194px;
  margin-bottom: 20px;
  max-width: 218px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__title--prcolor {
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0.04em;
  color: #D41443;
}

.hero__menu {
  position: relative;
  z-index: 2;
  display: flex;
}

.hero__btn {
  background: #D41443;
  border-radius: 20px;
  min-height: 24px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #ecebeb;
  color: #D41443;
}

.hero__btn--light {
  background-color: #FFFFFF;
  color: #D41443;
  margin-left: 8px;
}

.hero__link {
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  color: currentColor;
}

.product-title {
  text-align: center;
  margin-bottom: 281px;
  margin-top: 61px;
}

.product-title__label {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 16px;
}

.produkt-title__title {
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}

.product-list {
  display: block;
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 32px;
  margin-bottom: 60px;
}

.product-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.product-button:focus,
.product-button:hover {
  background-color: #ecebeb;
  transition: color 0.3s ease 0s;
}

.product-btn {
  text-align: center;
}

.product-list__box {
  display: block;
  position: relative;
  width: 368px;
  padding: 165px 63px 60px 64px;
  background-color: #ffb8ca;
  border-radius: 24px;
}

.product-list__box.pic::before {
  position: absolute;
  top: -250px;
  left: 0;
  content: "";
  width: 368px;
  height: 394px;
  background-size: contain;
  background-image: url(/src/images/ice-cream-min.png);
}

.product-list__box.inner {
  background-color: #f0d1a5;
}

.product-list__box.inner::before {
  position: absolute;
  top: -250px;
  left: 0;
  content: "";
  width: 368px;
  height: 394px;
  background-size: contain;
  background-image: url(/src/images/ice-coffee-min.png);
}

.holder {
  background-color: #c2e297;
}

.product-list__box.holder::before {
  position: absolute;
  top: -250px;
  left: 0;
  content: "";
  width: 368px;
  height: 394px;
  background-size: contain;
  background-image: url(/src/images/milkshakes-min.png);
}

.product-list__subtitle {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 70px;
}

.product-list__subtitle::after {
  content: "...";
  position: absolute;
  bottom: -32px;
  right: 43%;
}

.product-list__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 60px;
}

.about {
  padding-top: 60px;
  background-color: #FFF5F6;
}
@media screen and (max-width: 480px) {
  .about {
    background-image: url(../images/about_bg_mobile.png);
    background-position: right 0 bottom 160px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about_bg_mobile_2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    background-image: url(../images/about_bg_desctop.png);
    background-position-y: 108%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about_bg_desctop_2x.png);
  }
}

.about__subtitle {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.17;
  color: #424040;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .about__subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 60px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .about__wrap {
    display: flex;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrap {
    gap: 99px;
    align-items: center;
  }
}

.about__img {
  max-width: 280px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 321px) {
  .about__img {
    max-width: 336px;
  }
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    max-width: 501px;
  }
}

@media screen and (min-width: 768px) {
  .about__box {
    max-width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__box {
    max-width: 463px;
  }
}

.about__text {
  padding-right: 60px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}
@media screen and (min-width: 768px) {
  .about__text {
    padding-right: 0;
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.about__text--first {
  color: black;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__text--first {
    margin-bottom: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--first {
    margin-bottom: 32px;
  }
}

.about__text--second,
.about__text--third {
  margin-bottom: 20px;
  color: #907E82;
}
@media screen and (min-width: 1200px) {
  .about__text--second,
.about__text--third {
    font-size: 14px;
    line-height: 1.94;
  }
}

@media screen and (min-width: 1200px) {
  .about__text--second {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .about__text--third {
    margin-bottom: 40px;
  }
}

.about__btn {
  min-width: 176px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 22px;
  border: none;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__btn:hover {
  background-color: #ecebeb;
}

.about__btn-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #D41443;
}

.about__btn-icon {
  width: 5px;
  height: 8px;
}

.advanteges {
  background-color: #FFF5F6;
}

@media screen and (min-width: 768px) {
  .advanteges__list {
    display: flex;
  }
}
@media screen and (min-width: 480px) {
  .advanteges__item {
    width: 230px;
    height: 96px;
  }
}
@media screen and (min-width: 768px) {
  .advanteges__item {
    width: 160px;
    height: 130px;
    margin-right: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .advanteges__item {
    width: 288px;
    height: 133px;
    margin-right: 80px;
  }
}

.advanteges__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 13px;
}

.text-after__title {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: #000000;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  background: linear-gradient(to bottom, #fff5f6 45%, #fff 45%);
}
@media screen and (min-width: 480px) {
  .gallery {
    background: linear-gradient(to bottom, #fff5f6 42%, #fff 42%);
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 64px;
    background: linear-gradient(to bottom, #fff5f6 63%, #fff 63%);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 120px;
    background: linear-gradient(to bottom, #fff5f6 35%, #fff 35%);
  }
}

.gallery__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery__item:not(:last-child) {
  margin-right: 3px;
}
@media screen and (min-width: 768px) {
  .gallery__item:not(:last-child) {
    margin-right: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:not(:last-child) {
    margin-right: 8px;
  }
}

.gallery__item:nth-child(-1n+5) img:not(:last-child) {
  margin-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .gallery__item:nth-child(-1n+5) img:not(:last-child) {
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(-1n+5) img:not(:last-child) {
    margin-bottom: 8px;
  }
}

.gallery__item:nth-child(5) {
  margin-top: -10px;
}
@media screen and (min-width: 768px) {
  .gallery__item:nth-child(5) {
    margin-top: -25px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(5) {
    margin-top: -33px;
  }
}

.gallery__img {
  width: 44px;
}
@media screen and (min-width: 768px) {
  .gallery__img {
    width: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img {
    width: 138px;
  }
}

.gallery__img--second {
  width: 90px;
}
@media screen and (min-width: 768px) {
  .gallery__img--second {
    width: 214px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img--second {
    width: 283px;
  }
}

.testimonials__title {
  visibility: hidden;
}

.testimonials {
  padding: 60px 20px 0 20px;
}
@media screen and (min-width: 768px) {
  .testimonials {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials {
    padding: 120px 116px 0 116px;
  }
}

.testimonials__avatars {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 85px;
  height: 85px;
}

.testimonials__text::before {
  content: "";
  background-image: url(../images/quote.svg);
  height: 40px;
  width: 54px;
  display: block;
  position: absolute;
  left: 50px;
  top: 34px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .testimonials__text::before {
    left: 6px;
    top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__text::before {
    top: 32px;
    left: 72px;
  }
}

.testimonials__text {
  padding: 0 8px 9px 15px;
  margin: 0;
  background: repeating-linear-gradient(transparent 0 29px, #e1e1e1 30px 31px);
  display: block;
  font-size: 12px;
  line-height: 2.55em;
  text-align: center;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}
@media screen and (min-width: 768px) {
  .testimonials__text {
    font-size: 14px;
    letter-spacing: 0.04;
    line-height: 2.16em;
    padding: 0px 49.18px 8px 44.71px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__text {
    font-size: 16px;
    line-height: 1.86em;
    padding: 0px 36px 8px 35px;
  }
}

.testimonials__quote {
  padding: 47px 50px 13px 50px;
  border: 1px solid;
  text-align: center;
  background-color: #fafafa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  .testimonials__quote {
    padding: 37px 6px 8px 6px;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__quote {
    padding: 47px 74px 31px 72px;
    background-color: #fafafa;
  }
}

.testimonials__author::before {
  content: ". . .";
  color: #D41443;
  font-weight: 900;
  font-size: 40px;
  display: block;
  line-height: 1em;
}

.testimonials__author {
  text-align: center;
  font-size: 14px;
  line-height: 1.86em;
  font-weight: 500;
  display: block;
  font-family: "DM Sans", sans-serif;
}
@media screen and (min-width: 768px) {
  .testimonials__author {
    font-size: 16px;
    line-height: 1.86em;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__author {
    font-size: 20px;
    line-height: 1.86em;
  }
}

/* slick slider */
.slick-dots {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 24px;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slick-dots li button:before {
  font-family: "slick";
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #d9d9d9;
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
  background-color: gray;
}

.slick-dots li.slick-active button:before {
  content: "";
  background: url(../images/home.svg);
  width: 12px;
  height: 12px;
  border-radius: 0;
}

.slick-dots li {
  width: 12px;
}

button.slick-arrow {
  display: none !important;
}

.slick-dots > li > button {
  border: none;
  background: none;
  color: transparent;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=index.css.map */