@import '~node_modules/modern-normalize/modern-normalize.css';
.body {
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-family: "Titan One", cursive;
}
.body.no-scroll {
  overflow: hidden;
  touch-action: none;
}
.body.modal-open {
  overflow: hidden;
  touch-action: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 320px) {
  .section {
    padding-top: 30px;
  }
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 83px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}

.header__container {
  z-index: 10;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 37px;
  }
}

.header__logo {
  margin-top: 8px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0;
  }
}

.header__menu-open {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .header__menu-open {
    display: none;
  }
}

.header__menu-icon {
  stroke: #D41443;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-open:hover .header__menu-icon, .header__menu-open:focus .header__menu-icon {
  stroke: #FFFFFF;
}

.header__hidden-button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 160px;
  padding: 11.5px 0;
  border: 0;
  border-radius: 22px;
  margin-left: 32px;
  background-color: #FFFFFF;
  color: #D41443;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__hidden-button:hover, .header__hidden-button:focus {
  background-color: #E1E1E1;
}
@media screen and (max-width: 767px) {
  .header__hidden-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__hidden-button {
    margin-left: auto;
    width: 160px;
  }
}

.header__nav {
  visibility: hidden;
  transform: translateX(300%);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: #E17992;
  height: 100vh;
  min-width: 254px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__nav {
    visibility: visible;
    position: static;
    transform: translateX(0);
    padding-top: 0;
    margin-left: 128px;
    height: auto;
    background-color: transparent;
  }
}
.header__nav.is-open {
  visibility: visible;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  transform: translateX(0);
  z-index: 15;
  width: 100vw;
  height: 100vh;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) and (orientation: landscape) {
  .header__nav.is-open {
    width: 254px;
    right: 0;
    left: auto;
  }
}
@media screen and (min-width: 768px) {
  .header__nav.is-open {
    width: 254px;
  }
}

.header__menu-close {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 26px;
}
@media screen and (min-width: 1200px) {
  .header__menu-close {
    display: none;
  }
}

.header__close-icon {
  stroke: #FFFFFF;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-close:hover .header__close-icon, .header__menu-close:focus .header__close-icon {
  stroke: #D41443;
}

.header__modal-button {
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-self: center;
  width: 209px;
  padding: 11.5px 0;
  margin-bottom: 19px;
  border: 0;
  border-radius: 22px;
  background-color: #FFFFFF;
  color: #D41443;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__modal-button:hover, .header__modal-button:focus {
  background-color: #E1E1E1;
}
@media screen and (min-width: 768px) {
  .header__modal-button {
    width: 186px;
  }
}
@media screen and (min-width: 1200px) {
  .header__modal-button {
    display: none;
  }
}

.header__arrow-icon {
  stroke: #D41443;
  margin-left: 21px;
}

@media screen and (min-width: 1200px) {
  .header__nav-list {
    display: flex;
  }
}

.header__nav-item {
  padding: 13px 20px;
  border-top: 1px solid #E18298;
}
.header__nav-item:last-child {
  border-bottom: 1px solid #E18298;
}
@media screen and (min-width: 1200px) {
  .header__nav-item:last-child {
    border: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-item {
    border: none;
    padding: 0;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 35px;
  }
}

.header__nav-link {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #D41443;
}
@media screen and (min-width: 1200px) {
  .header__nav-link {
    font-size: 16px;
    line-height: 1.31;
  }
}

.header__nav-link--active {
  color: #D41443;
}

.hero {
  position: relative;
  overflow: hidden;
  background-color: #FFB8CA;
}
@media screen and (max-width: 767px) {
  .hero {
    min-height: 502px;
  }
}
.hero .container {
  position: relative;
}

.hero__decor {
  position: absolute;
  z-index: 1;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .hero__decor {
    left: 248px;
    top: 43px;
    width: 335px;
    height: 333px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__decor {
    left: 517px;
    top: 54px;
    width: 534px;
    height: 534px;
  }
}

.hero__img {
  position: absolute;
  top: 9px;
  left: 81px;
  width: 171px;
}
@media screen and (min-width: 768px) {
  .hero__img {
    left: 74px;
    top: 39px;
    width: 143px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__img {
    left: 119px;
    top: 58px;
    width: 236px;
  }
}

.hero__content {
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__content {
    display: flex;
    justify-content: space-between;
  }
}

.hero__content--p1 {
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .hero__content--p1 {
    padding-bottom: 60px;
  }
}

.hero__title {
  padding-top: 194px;
  margin-bottom: 20px;
  max-width: 218px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-top: 102px;
    max-width: 162px;
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    padding-top: 147px;
    margin-bottom: 24px;
    max-width: 277px;
    font-size: 38px;
    line-height: 1.14;
  }
}

.hero__title--prcolor {
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0.04em;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .hero__title--prcolor {
    font-size: 34px;
    line-height: 0.9;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title--prcolor {
    font-size: 58px;
  }
}

.hero__menu {
  display: flex;
}

.hero__btn {
  margin-bottom: 20px;
  border-radius: 20px;
  background: #D41443;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #ecebeb;
  color: #D41443;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    margin-bottom: 40px;
  }
}

.hero__btn--light {
  background-color: #FFFFFF;
  color: #D41443;
  margin-left: 8px;
}
@media screen and (min-width: 1200px) {
  .hero__btn--light {
    margin-left: 12px;
  }
}

.hero__link {
  min-height: 24px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  color: currentColor;
}
@media screen and (min-width: 1200px) {
  .hero__link {
    min-height: 40px;
    padding-left: 23px;
    padding-right: 23px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.bioeco {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.5;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .bioeco {
    font-size: 14px;
    line-height: 1.4;
  }
}
@media screen and (max-width: 767px) {
  .bioeco {
    display: none;
  }
}

.bioeco__img {
  width: 152px;
}
@media screen and (min-width: 1200px) {
  .bioeco__img {
    width: 213px;
  }
}

.bioeco__text {
  max-width: 114px;
  margin-bottom: 7px;
}
@media screen and (min-width: 1200px) {
  .bioeco__text {
    max-width: 200px;
    margin-bottom: 20px;
  }
}

.bioeco__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 152px;
  height: 154px;
  background-color: #FFB8CA;
  opacity: 0;
  pointer-events: none;
  color: #FFFFFF;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .bioeco__description {
    width: 213px;
    height: 216px;
  }
}
.bioeco__btn:hover .bioeco__description, .bioeco__btn:focus .bioeco__description {
  opacity: 1;
  pointer-events: auto;
}

.bioeco__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border-color: transparent;
  color: #D41443;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bioeco__btn:hover, .bioeco__btn:focus {
  background-color: #ecebeb;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .bioeco__btn {
    width: 26px;
    height: 26px;
  }
}

.bioeco__icon {
  width: 10px;
  height: 10px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .bioeco__icon {
    width: 12px;
    height: 12px;
  }
}

.hero__content--p2 {
  position: relative;
  padding-top: 94px;
}
@media screen and (max-width: 767px) {
  .hero__content--p2 {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero__content--p2 {
    padding-top: 156px;
  }
}

.clients {
  padding-right: 10px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-right: 18px;
  }
}

.clients__item:not(:last-child) {
  margin-bottom: 17px;
}
@media screen and (min-width: 1200px) {
  .clients__item:not(:last-child) {
    margin-bottom: 18px;
  }
}

.clients__number {
  position: relative;
  text-align: right;
  font-family: "Titan One";
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 1200px) {
  .clients__number {
    font-size: 46px;
    margin-bottom: 2px;
  }
}
.clients__number::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: -2;
  right: -10;
}
@media screen and (min-width: 1200px) {
  .clients__number::before {
    width: 30px;
    height: 30px;
    top: -3;
    right: -18;
  }
}

.clients__type {
  text-align: right;
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .clients__type {
    font-size: 14px;
    line-height: 1.29;
  }
}

.clients_img {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 190px;
}
@media screen and (min-width: 1200px) {
  .clients_img {
    min-width: 304px;
  }
}

.product-title {
  text-align: center;
  margin-bottom: 140px;
  margin-top: 61px;
}
@media screen and (min-width: 768px) {
  .product-title {
    margin-bottom: 158px;
  }
}
@media screen and (min-width: 1200px) {
  .product-title {
    margin-bottom: 281px;
  }
}

.product-title__label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .product-title__label {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1200px) {
  .product-title__label {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}

.produkt-title__title {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .produkt-title__title {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .produkt-title__title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.product-list {
  display: block;
  margin: 0px;
  padding: 0px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .product-list {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list {
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .product-list__item.list {
    width: calc((100% - 32px) / 3);
  }
}

.product-list__item.list:not(:last-child) {
  margin-bottom: 140px;
}
@media screen and (min-width: 768px) {
  .product-list__item.list:not(:last-child) {
    margin-bottom: 0px;
  }
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.product-button:focus,
.product-button:hover {
  background-color: #ecebeb;
  transition: color 0.3s ease 0s;
}

.product-btn {
  text-align: center;
}

.product-list__box {
  display: block;
  position: relative;
  padding: 160px 40px 40px 40px;
  margin: 0 auto;
  background-color: #ffb8ca;
  border-radius: 24px;
}
@media screen and (min-width: 768px) {
  .product-list__box {
    padding: 118px 32px 32px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__box {
    padding: 165px 63px 60px 64px;
  }
}

.product-list__box.pic::before {
  position: absolute;
  top: -140px;
  left: 10px;
  content: "";
  width: 280px;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/src/images/ice-cream-min.png);
}
@media screen and (min-width: 768px) {
  .product-list__box.pic::before {
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__box.pic::before {
    width: 368px;
    height: 394px;
    top: -250px;
    left: 0;
  }
}

.product-list__box.inner {
  background-color: #f0d1a5;
}

.product-list__box.inner::before {
  position: absolute;
  top: -140px;
  left: 10px;
  content: "";
  width: 280px;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/src/images/ice-coffee-min.png);
}
@media screen and (min-width: 768px) {
  .product-list__box.inner::before {
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__box.inner::before {
    width: 368px;
    height: 394px;
    top: -250px;
    left: 0;
  }
}

.product-list__box.holder {
  background-color: #c2e297;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .product-list__box.holder {
    margin-bottom: 0px;
  }
}

.product-list__box.holder::before {
  position: absolute;
  top: -140px;
  left: 10px;
  content: "";
  width: 280px;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/src/images/milkshakes-min.png);
}
@media screen and (min-width: 768px) {
  .product-list__box.holder::before {
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__box.holder::before {
    width: 368px;
    height: 394px;
    top: -250px;
    left: 0;
  }
}

.product-list__subtitle {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 64px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .product-list__subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.product-list__subtitle::after {
  content: "...";
  position: absolute;
  bottom: -32px;
  right: 43%;
}

.product-list__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .product-list__text {
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .product-list__text {
    font-size: 16px;
    line-height: 1.76;
    margin-bottom: 60px;
  }
}

.about {
  padding-top: 60px;
  background-color: #FFF5F6;
}
@media screen and (max-width: 480px) {
  .about {
    background-image: url(../images/about_bg_mobile.png);
    background-position: right 0 bottom 140px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about_bg_mobile_2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    background-image: url(../images/about_bg_desctop.png);
    background-position: 50% 178%;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about_bg_desctop_2x.png);
  }
}

.about__subtitle {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Titan One", cursive;
  font-size: 18px;
  line-height: 1.17;
  color: #FFA5BA;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .about__subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    margin-bottom: 60px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .about__wrap {
    display: flex;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__wrap {
    gap: 99px;
    align-items: center;
  }
}

.about__img {
  max-width: 280px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 321px) {
  .about__img {
    max-width: 336px;
  }
}
@media screen and (min-width: 768px) {
  .about__img {
    margin-bottom: 0;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    max-width: 501px;
  }
}

.about__box {
  padding-right: 60px;
}
@media screen and (min-width: 768px) {
  .about__box {
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__box {
    max-width: 463px;
  }
}

.about__text {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .about__text {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.about__text--first {
  color: black;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__text--first {
    margin-bottom: 23px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text--first {
    margin-bottom: 32px;
  }
}

.about__text--second,
.about__text--third {
  margin-bottom: 20px;
  color: #907E82;
}
@media screen and (min-width: 1200px) {
  .about__text--second,
.about__text--third {
    font-size: 14px;
    line-height: 1.94;
  }
}

@media screen and (min-width: 1200px) {
  .about__text--second {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .about__text--third {
    margin-bottom: 40px;
  }
}

.about__btn {
  min-width: 176px;
  padding: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 22px;
  border: none;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__btn:hover {
  background-color: #ecebeb;
}

.about__btn-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #D41443;
}

.about__btn-icon {
  width: 5px;
  height: 8px;
}

.advanteges {
  background-color: #FFF5F6;
}
@media screen and (min-width: 320px) {
  .advanteges {
    padding-top: 30px;
  }
}
@media screen and (min-width: 480px) {
  .advanteges {
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .advanteges {
    padding-top: 83px;
  }
}
@media screen and (min-width: 1200px) {
  .advanteges {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .advanteges__list {
    display: flex;
  }
}
@media screen and (min-width: 320px) {
  .advanteges__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .advanteges__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .advanteges__item {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .advanteges__item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 480px) {
  .advanteges-icon {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .advanteges-icon {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advanteges-icon {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 320px) {
  .advanteges-text__wrap {
    width: 230px;
  }
}
@media screen and (min-width: 480px) {
  .advanteges-text__wrap {
    width: 230px;
  }
}
@media screen and (min-width: 768px) {
  .advanteges-text__wrap {
    width: 162px;
    margin-right: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .advanteges-text__wrap {
    width: 288px;
    margin-right: 80px;
  }
}

.advanteges__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 13px;
  margin-top: 0;
}

.text-after__title {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: #000000;
}

.gallery {
  background: linear-gradient(to bottom, #fff5f6 47%, #fff 47%);
}
.gallery .container {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (min-width: 480px) {
  .gallery {
    background: linear-gradient(to bottom, #fff5f6 44%, #fff 44%);
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    background: linear-gradient(to bottom, #fff5f6 65%, #fff 65%);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    background: linear-gradient(to bottom, #fff5f6 38%, #fff 38%);
  }
}

.gallery_items {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .gallery_items {
    padding-top: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery_items {
    padding-top: 120px;
  }
}

.gallery__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gallery__item:not(:last-child) {
  margin-right: 3px;
}
@media screen and (min-width: 768px) {
  .gallery__item:not(:last-child) {
    margin-right: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:not(:last-child) {
    margin-right: 8px;
  }
}

.gallery__item:nth-child(-1n+5) img:not(:last-child) {
  margin-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .gallery__item:nth-child(-1n+5) img:not(:last-child) {
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(-1n+5) img:not(:last-child) {
    margin-bottom: 8px;
  }
}

.gallery__item:nth-child(1) {
  margin-top: 45px;
}
@media screen and (min-width: 768px) {
  .gallery__item:nth-child(1) {
    margin-top: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(1) {
    margin-top: 143px;
  }
}

.gallery__item:nth-child(2) {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .gallery__item:nth-child(2) {
    margin-top: 67px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(2) {
    margin-top: 89px;
  }
}

.gallery__item:nth-child(4) {
  margin-top: 31px;
}
@media screen and (min-width: 768px) {
  .gallery__item:nth-child(4) {
    margin-top: 75px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(4) {
    margin-top: 99px;
  }
}

.gallery__item:nth-child(5) {
  margin-top: 21px;
}
@media screen and (min-width: 768px) {
  .gallery__item:nth-child(5) {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(5) {
    margin-top: 66px;
  }
}

.gallery__item:nth-child(6) {
  margin-top: 49px;
}
@media screen and (min-width: 768px) {
  .gallery__item:nth-child(6) {
    margin-top: 117px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(6) {
    margin-top: 155px;
  }
}

.gallery__img {
  width: 44px;
}
@media screen and (min-width: 768px) {
  .gallery__img {
    width: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img {
    width: 138px;
  }
}

.gallery__img--second {
  width: 90px;
}
@media screen and (min-width: 768px) {
  .gallery__img--second {
    width: 214px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img--second {
    width: 283px;
  }
}

.testimonials__title {
  visibility: hidden;
  height: 0;
}

.testimonials {
  padding: 60px 20px 0 20px;
}
@media screen and (min-width: 768px) {
  .testimonials {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials {
    padding: 120px 116px 0 116px;
  }
}

.testimonials__avatars {
  display: block;
  margin: 0 auto;
  margin-bottom: 32px;
  width: 85px;
  height: 85px;
}

.testimonials__text::before {
  content: "";
  background-image: url(../images/quote.svg);
  height: 40px;
  width: 54px;
  display: block;
  position: absolute;
  left: 50px;
  top: 34px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .testimonials__text::before {
    left: 6px;
    top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__text::before {
    top: 32px;
    left: 72px;
  }
}

.testimonials__text {
  padding: 0 8px 9px 15px;
  margin: 0;
  background: repeating-linear-gradient(transparent 0 29px, #e1e1e1 30px 31px);
  display: block;
  font-size: 12px;
  line-height: 2.55em;
  text-align: center;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
}
@media screen and (min-width: 768px) {
  .testimonials__text {
    font-size: 14px;
    letter-spacing: 0.04;
    line-height: 2.16em;
    padding: 0px 49.18px 8px 44.71px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__text {
    font-size: 16px;
    line-height: 1.86em;
    padding: 0px 36px 8px 35px;
  }
}

.testimonials__quote {
  padding: 47px 50px 13px 50px;
  text-align: center;
  background-color: #fafafa;
  position: relative;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  .testimonials__quote {
    padding: 37px 6px 8px 6px;
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__quote {
    padding: 47px 74px 31px 72px;
    background-color: #fafafa;
  }
}

.testimonials__author::before {
  content: ". . .";
  color: #d41443;
  font-size: 28px;
  line-height: 1.286em;
  display: block;
}
@media screen and (min-width: 768px) {
  .testimonials__author::before {
    height: 8px;
    line-height: 0;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__author::before {
    line-height: 0.715;
  }
}

.testimonials__author {
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.86em;
  display: flex;
  height: 61px;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .testimonials__author {
    font-size: 16px;
    line-height: 1.86em;
    height: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials__author {
    font-size: 20px;
    line-height: 1.86em;
    height: 67px;
  }
}

/* slick slider */
.slick-dots {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 24px;
}

.slick-dots li:not(:last-child) {
  margin-right: 18px;
}

.slick-dots li button:before {
  font-family: "slick";
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #d9d9d9;
}

.slick-dots li button:hover::before,
.slick-dots li button:focus::before {
  background-color: gray;
}

.slick-dots li.slick-active button:before {
  content: "";
  background: url(../images/home.svg);
  width: 12px;
  height: 12px;
  border-radius: 0;
}

.slick-dots li {
  width: 12px;
}

button.slick-arrow {
  display: none !important;
}

.slick-dots > li > button {
  border: none;
  background: none;
  color: transparent;
  padding: 0;
  margin: 0;
}

.section-contacts {
  background-image: linear-gradient(to bottom, #FFFFFF 5%, #FFF5F6 55%, #FFF5F6 100%);
  background-color: #FFF5F6;
  font-family: "DM Sans", sans-serif;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .section-contacts {
    padding-top: 80px;
    background-image: linear-gradient(to bottom, #FFFFFF 53%, #FFF5F6 53%, #FFF5F6 100%);
  }
}
@media screen and (min-width: 1200px) {
  .section-contacts {
    padding-top: 120px;
    background-image: linear-gradient(to bottom, #FFFFFF 28.5%, #FFF5F6 28.5%, #FFF5F6 100%);
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-representations {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .our-representations {
    margin-bottom: 60px;
  }
}

.representations__list {
  margin: -20px;
}
@media screen and (min-width: 768px) {
  .representations__list {
    display: flex;
    gap: 32px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .representations__list {
    margin: 0;
  }
}

.representations__item {
  width: calc(100% - 40px);
  margin: 20px;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  background: white;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (min-width: 480px) {
  .representations__item {
    max-width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .representations__item {
    width: calc((100% - 64px) / 3);
    margin: 0;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  }
}
@media screen and (min-width: 1200px) {
  .representations__item {
    padding: 40px;
    margin: 0;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  }
}

.representation__section:not(:first-child) {
  padding-top: 24px;
}
.representation__section:not(:last-child) {
  padding-bottom: 24px;
  border-bottom: 1px solid #E1E1E1;
}
@media screen and (min-width: 768px) {
  .representation__section:not(:first-child) {
    padding-top: 32px;
  }
  .representation__section:not(:last-child) {
    padding-bottom: 32px;
  }
}

.representation__type {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border-radius: 4px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .representation__type {
    height: 28px;
    margin-bottom: 32px;
    font-size: 16px;
  }
}

.representation__type-cafe {
  background-color: #F0D1A5;
  width: 80px;
}
@media screen and (min-width: 768px) {
  .representation__type-cafe {
    width: 73px;
  }
}

.representation__type-foodtruck {
  background-color: #C2E297;
  width: 130px;
}
@media screen and (min-width: 768px) {
  .representation__type-foodtruck {
    width: 138px;
  }
}

.representation__city {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .representation__city {
    margin-bottom: 12px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .representation__city {
    margin-bottom: 8px;
    font-size: 16px;
  }
}

.representation__description {
  font-size: 12px;
  line-height: 1.5;
  color: #907E82;
}
@media screen and (min-width: 768px) {
  .representation__description {
    font-size: 14px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 1200px) {
  .representation__description {
    font-size: 16px;
    line-height: 1.83;
  }
}

.representation__working-days {
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .representation__working-days {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .representation__working-days {
    font-size: 16px;
  }
}

.representation__working-hours {
  font-size: 12px;
  line-height: 1.86;
  color: #FFA5BA;
}
.representation__working-hours:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .representation__working-hours {
    font-size: 14px;
  }
  .representation__working-hours:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .representation__working-hours {
    font-size: 16px;
  }
}

.representation__links {
  display: flex;
  flex-direction: column;
}

.representation__contact-link {
  font-size: 12px;
  line-height: 1.5;
  color: #907E82;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.representation__contact-link:hover, .representation__contact-link:focus {
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .representation__contact-link {
    font-size: 14px;
    line-height: 1.83;
  }
}
@media screen and (min-width: 1200px) {
  .representation__contact-link {
    font-size: 16px;
  }
}

.contacts-maps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contacts-maps {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
}

.button-contacts {
  padding: 0;
  height: 44px;
  width: auto;
  max-width: 162px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .button-contacts {
    max-width: 198px;
  }
}

.button-locations {
  color: #FFFFFF;
  background-color: #D41342;
  margin-bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-locations:hover, .button-locations:focus {
  color: #D41443;
  background-color: #ECEBEB;
}
@media screen and (min-width: 768px) {
  .button-locations {
    margin-bottom: 0;
    margin-right: 15.5px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-locations {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.button-locations__icon {
  stroke: currentColor;
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .button-locations__icon {
    margin-left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .button-locations__icon {
    margin-left: 13px;
  }
}

.button-franchise {
  color: #D41443;
  background-color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-franchise:hover, .button-franchise:focus {
  background-color: #ECEBEB;
}
@media screen and (min-width: 768px) {
  .button-franchise {
    padding-left: 38px;
    padding-right: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .button-franchise {
    padding-left: 37px;
    padding-right: 37px;
  }
}

.button-franchise-icon {
  stroke: #D41443;
  margin-left: 12px;
}

.footer-page {
  padding-top: 40px;
  background-color: #FFF5F6;
}
.footer-page .container {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 1200px) {
  .footer-page {
    padding-top: 121px;
  }
}

.footer-content {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer-content {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .title {
    margin-bottom: 40px;
  }
}

.title__prymary {
  margin-bottom: 16px;
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #FFA5BA;
  max-width: 232px;
}
@media screen and (min-width: 768px) {
  .title__prymary {
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 1.1;
    max-width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .title__prymary {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
    max-width: 472px;
  }
}

.title__secondary {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  .title__secondary {
    font-size: 48px;
    line-height: 1.14;
    max-width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .title__secondary {
    font-size: 58px;
    line-height: 1.13;
    max-width: 474px;
  }
}

@media screen and (min-width: 768px) {
  .socials {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    padding-top: 11px;
  }
}

.socials-list {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .socials-list {
    height: 32px;
  }
}
@media screen and (min-width: 768px) {
  .socials-list {
    height: 34px;
  }
}

.socials-list__item {
  width: 32px;
  height: 32px;
}

.socials-list__item:not(:last-child) {
  margin-right: 28px;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FEA5BB;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list__link:hover {
  background-color: #D41443;
}

.socials-list__link:focus {
  background-color: #D41443;
}

@media screen and (max-width: 767px) {
  .socials-list__icon1 {
    width: 19px;
    height: 19px;
  }
}
@media screen and (min-width: 768px) {
  .socials-list__icon1 {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .socials-list__icon1 {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .socials-list__icon2 {
    width: 19px;
    height: 15px;
  }
}
@media screen and (min-width: 768px) {
  .socials-list__icon2 {
    width: 20px;
    height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .socials-list__icon2 {
    width: 20px;
    height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .socials-list__icon3 {
    width: 9px;
    height: 19px;
  }
}
@media screen and (min-width: 768px) {
  .socials-list__icon3 {
    width: 9px;
    height: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .socials-list__icon3 {
    width: 9px;
    height: 20px;
  }
}

.contacts {
  text-align: right;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .contacts {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.contacts__tel {
  color: #D41443;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel:hover {
  color: #D41443;
}
.contacts__tel:focus {
  color: #D41443;
}

.footer-copy {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #907E82;
  padding-top: 16px;
  padding-bottom: 3px;
  border-top: 1px solid #E1E1E1;
}
@media screen and (min-width: 480px) {
  .footer-copy {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-copy {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-copy {
    padding-top: 7px;
    padding-bottom: 4px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  overflow: scroll;
  visibility: visible;
  opacity: 1;
  width: 100vw;
  height: 100%;
  background: rgba(225, 121, 146, 0.7);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  max-width: 450px;
  width: 100%;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 22px;
}
@media screen and (max-height: 610px) and (orientation: landscape) {
  .modal {
    top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 520px;
  }
}

.modal__close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  color: #D41443;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon {
  stroke: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover .modal__close-icon, .modal__close-button:focus .modal__close-icon {
  stroke: #E17992;
  outline: transparent;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  color: #D41443;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.13;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 27px;
    line-height: 1.18;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom: 4px;
  color: #E17992;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__container {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: #FFB8CA;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__container:focus-within .modal__icon {
  fill: #E17992;
}

.modal__input, .modal__list-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 12px;
  padding-left: 42px;
  margin-bottom: 10px;
  border: 1px solid #FFB8CA;
  border-radius: 6px;
  color: #D41443;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .modal__list-input:focus {
  border: 1px solid #E17992;
  outline: transparent;
}

.modal__order {
  margin-top: 0;
  margin-bottom: 12px;
  color: #D41443;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.13;
  text-align: center;
}

.modal__list-item {
  display: flex;
  align-items: baseline;
}

.modal__list-label {
  color: #E17992;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-right: 10px;
  margin-left: auto;
}

.modal__list-input {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.modal__list-input::-moz-placeholder {
  color: #FFB8CA;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__list-input:-ms-input-placeholder {
  color: #FFB8CA;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.modal__list-input::placeholder {
  color: #FFB8CA;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 0;
  background-color: #D41443;
  color: #FFFFFF;
  border: 0;
  border-radius: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__submit:hover, .modal__submit:focus {
  background-color: #E1E1E1;
  color: #D41443;
}

.modal__policy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 12px;
}

.modal__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__agreement {
  position: relative;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #E17992;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .modal__agreement {
    font-size: 14px;
    line-height: 1.71;
    padding-right: 11px;
  }
}

.modal__checkbox--empty {
  position: absolute;
  top: 0;
  left: -24px;
  visibility: visible;
  opacity: 1;
  fill: #FFB8CA;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__agreement:hover .modal__checkbox--empty {
  fill: #D41443;
}
.modal__checkbox--emptyfocus {
  fill: #D41443;
  outline: transparent;
}
.modal__check:checked ~ .modal__agreement > .modal__checkbox--empty {
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox--empty {
    top: 4px;
  }
}

.modal__checkbox--filled {
  position: absolute;
  top: 0;
  left: -24px;
  fill: #D41443;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__check:checked ~ .modal__agreement > .modal__checkbox--filled {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox--filled {
    top: 4px;
  }
}

.modal__link {
  color: #D41443;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.modal__link:hover, .modal__link:focus {
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */