$main-font:  'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$white: #FFFFFF;
$label_color: #FFA5BA;
$title_color: #D41443;
$back_color: #FFF5F6;
$pink: #FFB8CA;
$yellow: #F0D1A5;
$green: #C2E297;
$circle_color: #FFA5BA;
$gray: #E1E1E1;
$brown: #907E82;