<header class="header">
    <div class="header__container container">
        <a href="./index.html" class="header__logo-link link">
            <svg class="header__logo" width="199" height="50">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <button class="header__menu-open" type="button" data-menu-open>
            <svg class="header__menu-icon" width="20" height="12">
                <use href="./images/icons.svg#icon-Burger"></use>
            </svg>
        </button>
        <nav class="header__nav data-menu" data-menu>
            <button class="header__menu-close" type="button" data-menu-close>
                <svg class="header__close-icon" width="14" height="14">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
            <button class="header__modal-button modal-open" type="button" onclick="cancelScroll()">
                Buy now
                <svg class="header__arrow-icon" width="7" height="10">
                    <use href="./images/icons.svg#icon-small-arrow"></use>
                </svg>
            </button>
            <ul class="header__nav-list list">
                <li class="header__nav-item">
                    <a href="./index.html" class="header__nav-link header__nav-link--active link" onclick="cancelScroll()">
                        Home
                    </a>
                </li>
                <li class="header__nav-item">
                    <a href="#advanteges" class="header__nav-link link" onclick="cancelScroll()">
                        About us
                    </a>
                </li>
                <li class="header__nav-item">
                    <a href="#howsItMade" class="header__nav-link link" onclick="cancelScroll()">
                        How it’s made?
                    </a>
                </li>
                <li class="header__nav-item">
                    <a href="#products" class="header__nav-link link" onclick="cancelScroll()">
                        Our products
                    </a>
                </li>
                <li class="header__nav-item">
                    <a href="#contacts" class="header__nav-link link" onclick="cancelScroll()">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <button class="header__hidden-button modal-opens" type="button">
            Buy now
            <svg class="header__arrow-icon" width="7" height="10">
                <use href="./images/icons.svg#icon-small-arrow"></use>
            </svg>
        </button>
    </div>
</header>