<section>
  <div class="container">
    <div class="product-title">
      <label for="title">100% natural</label>
      <h1 id="title">products</h1>
    </div>
    <ul class="product-list">
      <li class="product-list__item">
        <h2 class="product-list__subtitle">ice cream</h2>
        <span class="product-list__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
          minus autem corporis facilis, natus cum ut. Doloribus, necessitatibus
          iure.
        </span>
        <button class="product-button">
          <svg class="product-button__icon" width="11px" height="11px">
            <use href="#"></use>
          </svg>
        </button>
      </li>
      <li class="product-list__item">
        <h2 class="product-list__subtitle">ice coffee</h2>
        <span class="product-list__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
          minus autem corporis facilis, natus cum ut. Doloribus, necessitatibus
          iure.
        </span>
      </li>
      <li class="product-list__item">
        <h2 class="product-list__subtitle">milkshakes</h2>
        <span class="product-list__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
          minus autem corporis facilis, natus cum ut. Doloribus, necessitatibus
          iure.
        </span>
      </li>
    </ul>
  </div>
</section>
