<section class="section">
    <div class="container">
<ul class="advanteges__list list">
    <li class="advanteges__item">
        <h2 class="advanteges__title">721</h2>
        <p class="text-after__title">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advanteges__item">
        <h2 class="advanteges__title">16kg</h2>
        <p class="text-after__title">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advanteges__item">
        <h2 class="advanteges__title">84</h2>
        <p class="text-after__title">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
</div>
</section>
