<section class="gallery">
  <h2 class="gallery__title">Галерея</h2>
  <div class="container">
    <div class="gallery_items">
      <div class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/1-44.png   44w,
            ./images/gallery/1-88.png   88w,
            ./images/gallery/1-105.png 105w,
            ./images/gallery/1-138.png 138w,
            ./images/gallery/1-210.png 210w,
            ./images/gallery/1-276.png 276w
          "
          src="./images/gallery/1-44.png"
          sizes="(min-width: 1200px) 10vw,(min-width: 768px) 12vw,10vw"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/2-44.png   44w,
            ./images/gallery/2-88.png   88w,
            ./images/gallery/2-105.png 105w,
            ./images/gallery/2-138.png 138w,
            ./images/gallery/2-210.png 210w,
            ./images/gallery/2-276.png 276w
          "
          src="./images/gallery/2-44.png"
          sizes="(min-width: 1200px) 10vw,(min-width: 768px) 12vw,10vw"
          alt=""
        />
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/3-44.png   44w,
            ./images/gallery/3-88.png   88w,
            ./images/gallery/3-105.png 105w,
            ./images/gallery/3-138.png 138w,
            ./images/gallery/3-210.png 210w,
            ./images/gallery/3-276.png 276w
          "
          src="./images/gallery/3-44.png"
          sizes="(min-width: 1200px) 10vw,(min-width: 768px) 12vw,10vw"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__img gallery__img--second"
          srcset="
            ./images/gallery/4-90.png   90w,
            ./images/gallery/4-180.png 180w,
            ./images/gallery/4-214.png 214w,
            ./images/gallery/4-283.png 283w,
            ./images/gallery/4-428.png 428w,
            ./images/gallery/4-566.png 566w
          "
          src="./images/gallery/4-90.png"
          sizes="(min-width: 1200px) 20vw,(min-width: 768px) 15vw,20vw"
          alt=""
        />
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/5-44.png   44w,
            ./images/gallery/5-88.png   88w,
            ./images/gallery/5-105.png 105w,
            ./images/gallery/5-138.png 138w,
            ./images/gallery/5-210.png 210w,
            ./images/gallery/5-276.png 276w
          "
          src="./images/gallery/5-44.png"
          sizes="(min-width: 1200px) 10vw,(min-width: 768px) 12vw,10vw"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/6-44.png   44w,
            ./images/gallery/6-88.png   88w,
            ./images/gallery/6-105.png 105w,
            ./images/gallery/6-138.png 138w,
            ./images/gallery/6-210.png 210w,
            ./images/gallery/6-276.png 276w
          "
          src="./images/gallery/6-44.png"
          sizes="(min-width: 1200px) 10vw,(min-width: 768px) 12vw,10vw"
          alt=""
        />
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/7-44.png   44w,
            ./images/gallery/7-88.png   88w,
            ./images/gallery/7-105.png 105w,
            ./images/gallery/7-138.png 138w,
            ./images/gallery/7-210.png 210w,
            ./images/gallery/7-276.png 276w
          "
          src="./images/gallery/7-44.png"
          sizes="(min-width: 1200px) 10vw,(min-width: 768px) 12vw,10vw"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/8-44.png   44w,
            ./images/gallery/8-88.png   88w,
            ./images/gallery/8-105.png 105w,
            ./images/gallery/8-138.png 138w,
            ./images/gallery/8-210.png 210w,
            ./images/gallery/8-276.png 276w
          "
          src="./images/gallery/8-44.png"
          sizes="(min-width: 1200px) 10vw,(min-width: 768px) 12vw,10vw"
          alt=""
        />
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/9-44.png   44w,
            ./images/gallery/9-88.png   88w,
            ./images/gallery/9-105.png 105w,
            ./images/gallery/9-138.png 138w,
            ./images/gallery/9-210.png 210w,
            ./images/gallery/9-276.png 276w
          "
          src="./images/gallery/9-44.png"
          sizes="(min-width: 1200px) 10vw,(min-width: 768px) 12vw,10vw"
          alt=""
        />
      </div>
      <div class="gallery__item">
        <img
          class="gallery__img"
          srcset="
            ./images/gallery/10-44.png   44w,
            ./images/gallery/10-88.png   88w,
            ./images/gallery/10-105.png 105w,
            ./images/gallery/10-138.png 138w,
            ./images/gallery/10-210.png 210w,
            ./images/gallery/10-276.png 276w
          "
          src="./images/gallery/10-44.png"
          sizes="(min-width: 1200px) 10vw,(min-width: 768px) 12vw,10vw"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
