<section class="testimonials">
<div class="testimonials__slide">
    <img class="testimonials__avatars" src="../images/testimonials1-min.png">
    <div class="testimonials__quote"><div class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</div></div>
    <div class="testimonials__author">Emily, Los Angeles</div>
</div>
<div class="testimonials__slide">
    <div class="testimonials__avatars"><img src="../images/testimonials2-min.png"></div>
    <div class="testimonials__quote">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.</div>
    <div class="testimonials__author">Alex, Las Vegas</div>
</div>
<div class="testimonials__slide">
    <div class="testimonials__avatars"><img src="../images/testimonials3-min.png"></div>
    <div class="testimonials__quote">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.</div>
    <div class="testimonials__author">Jain, Chichago</div>
</div>
</section>
