<section class="testimonials container">
    <h2 class="testimonials__title">Testimonials</h2>
    <div class="testimonials__slider">
<div class="testimonials__slide">
    <img class="testimonials__avatars" srcset="./images/testimonials1-min.png x1, ./images/testimonials1@2x-min.png 2x"
    sizes="(min-width: 768px) 354px, (min-width: 1200px) 370px, 450px"  src="./images/testimonials1-min.png" alt="Emily avatar" width="85px" height="85px">
    <div class="testimonials__quote"><p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p> </div>
    <h3 class="testimonials__author">Emily, Los Angeles</h3>
</div>
<div class="testimonials__slide">
    <img class="testimonials__avatars" srcset="./images/testimonials2-min.png x1, ./images/testimonials2@2x-min.png 2x"
    sizes="(min-width: 768px) 354px, (min-width: 1200px) 370px, 450px" src="./images/testimonials2-min.png" alt="Alexa avatar" width="85px" height="85px">
    <div class="testimonials__quote"><p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.</p></div>
    <h3 class="testimonials__author">Alexa, Las Vegas</h3>
</div>
<div class="testimonials__slide">
    <img class="testimonials__avatars" srcset="./images/testimonials3-min.png x1, ./images/testimonials3@2x-min.png 2x"
    sizes="(min-width: 768px) 354px, (min-width: 1200px) 370px, 450px" src="./images/testimonials3-min.png" alt="Jain avatar" width="85px" height="85px">
    <div class="testimonials__quote"><p class="testimonials__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.</p></div>
    <h3 class="testimonials__author">Jain, Chichago</h3>
</div>
</div>
</section>



<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
      $(".testimonials__slider").slick({
  dots: true,
  infinite: true,
  speed: 500,
  slidesToShow: 1,
  slidesToScroll: 1,
   adaptiveHeight: true
});
    });
  </script>
