<footer class="footer-page ">
    <div class="container">
        <div class="footer-content">
            <div class="title">
                <p class="title__prymary">homemade ice cream made</p>
                <p class="title__secondary">with passion</p>
            </div>
            <div class="socials">
                <ul class="socials-list list">
                    <li class="socials-list__item link">
                        <a href="https://github.com/" target="_blank" title="GitHub" rel="noreferrer noopener" class="socials-list__link">
                            <svg class="socials-list__icon1">
                                <use href="/src/images/icons.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials-list__item link">
                        <a href="https://web.telegram.org/" target="_blank" title="Telegram" rel="noreferrer noopener"
                            class="socials-list__link">
                            <svg class="socials-list__icon2">
                                <use href="/src/images/icons.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials-list__item link">
                        <a href="https://facebook.com/" target="_blank" title="Facebook" rel="noreferrer noopener"
                            class="socials-list__link">
                            <svg class="socials-list__icon3">
                                <use href="/src/images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="contacts">
                    Feel free to contact
                    <a href="tel:+61 (0) 383 766 284" class="contacts__tel link ">
                        +61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
        <p class="footer-copy">2022 - IceCream. &copy; <span>All Rights Reserved.</span> </p>
    </div>
</footer>