.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

.header__container {
    z-index: 10;
    display: flex;
    align-items: center;

    @include tablet {
        padding-top: 32px;
    }
    
    @include desktop {
        padding-top: 37px;
    }
}

.header__logo {
    margin-top: 8px;
    margin-bottom: 8px;

    @include tablet {
        margin: 0;
    }
}

.header__menu-open {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-left: auto;

    @include desktop {
        display: none;
    }
}

.header__menu-icon {
    stroke: $title-color;
    
    transition: stroke $time-duration $time-function;
    
    .header__menu-open:hover &,
    .header__menu-open:focus & {
        stroke: $white;
    }
}

.header__hidden-button {
    display: flex;
    align-items: baseline;
    justify-content: center;

    width: 160px;
    padding: 11.5px 0;

    border: 0;
    border-radius: 22px;
    margin-left: 32px;

    background-color: $white;
    color: $title-color;

    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    cursor: pointer;

    transition: background-color $time-duration $time-function;

    &:hover,
    &:focus {
        background-color: $gray;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }

    @include desktop {
        margin-left: auto;
        width: 160px;
    }
}

.header__nav {
    visibility: hidden;
    transform: translateX(300%);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;

    display: flex;
    flex-direction: column;
    padding-top: 20px;

    background-color: $dark-pink;

    height: 100vh;
    min-width: 254px;
    
    transition: transform 500ms $time-function,
        visibility 500ms $time-function;

    @include desktop {
        visibility: visible;
        position: static;
        transform: translateX(0);

        padding-top: 0;
        margin-left: 128px;
        height: auto;

        background-color: transparent;
    }
    
    &.is-open {
        visibility: visible;

        display: flex;
        flex-direction: column;
        padding-top: 20px;
    
        // left: 0;
        transform: translateX(0);
        z-index: 15;
    
        width: 100vw;
        height: 100vh;

        transition: transform 500ms $time-function,
            visibility 500ms $time-function;

        @media screen and (min-width: $mobile) and (orientation: landscape) {
            width: 254px;
            right: 0;
            left: auto;
        }

        @include tablet {
            width: 254px;
        }
    }
}

.header__menu-close {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 26px;

    @include desktop {
        display: none;
    }
}

.header__close-icon {
    stroke: $white;

    transition: stroke $time-duration $time-function;

    .header__menu-close:hover &,
    .header__menu-close:focus & {
        stroke: $title-color;
    }
}

.header__modal-button {
    display: flex;
    align-items: baseline;
    justify-content: center;

    align-self: center;

    width: 209px;
    padding: 11.5px 0;
    margin-bottom: 19px;

    border: 0;
    border-radius: 22px;

    background-color: $white;
    color: $title-color;

    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    cursor: pointer;

    transition: background-color $time-duration $time-function;

    &:hover, &:focus {
        background-color: $gray;
    }

    @include tablet {
        width: 186px;
    }

    @include desktop {
        display: none;
    }
}

.header__arrow-icon {
    stroke: $title_color;
    margin-left: 21px;
}

.header__nav-list {
    @include desktop {
        display: flex;
    }
}

.header__nav-item {
    padding: 13px 20px;
    border-top: 1px solid #E18298;

    &:last-child {
        border-bottom: 1px solid #E18298;

        @include desktop {
            border: none;
        }
    }

    @include desktop {
        border: none;
        padding: 0;

        &:not(:last-child) {
            margin-right: 35px;
        }
    }
}

.header__nav-link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: $white;

    transition: color $time-duration $time-function;
    
    &:hover, &:focus {
            color: $title-color;
        }

    @include desktop {
        font-size: 16px;
        line-height: 1.31;
    }
}

.header__nav-link--active {
    color: $title-color;
}