.hero {
  position: relative;
  min-height: 502px;
  overflow: hidden;
  background-color: $pink;
  .container {
    position: relative;
  }
}

.hero__decor {
  position: absolute;
  z-index: 1;
  top: 83px;
  left: 36px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background: $circle_color;

  @include tablet {
    left: 248px;
    top: 43px;
    width: 335px;
    height: 333px;
  }
}

.hero__img {
  position: absolute;
  top: 9px;
  left: 81px;
  width: 171px;

  @include tablet {
    left: 74px;
    top: 37px;
    width: 143px;
  }
}

.hero__content {
  position: relative;
  z-index: 2;
}

.hero__title {
  padding-top: 194px;
  margin-bottom: 20px;
  max-width: 218px;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white;

  @include tablet {
    padding-top: 102px;
    font-size: 22px;
    line-height: 1.14;
  }
}

.hero__title--prcolor {
  font-size: 48px;
  line-height: 0.96;
  letter-spacing: 0.04em;
  color: $title_color;

  @include tablet {
    font-size: 34px;
    line-height: 0.9;
  }
}

.hero__menu {
  display: flex;
}

.hero__btn {
  background: $title_color;
  border-radius: 20px;
  min-height: 24px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  color: $white;
  transition: color $time-duration $time-function,
    background-color $time-duration $time-function;

  &:hover,
  &:focus {
    background-color: #ecebeb;
    color: $title_color;
  }
}

.hero__btn--light {
  background-color: $white;
  color: $title_color;
  margin-left: 8px;
}

.hero__link {
  font-family: 'DM Sans';
  font-size: 8px;
  line-height: 1.25;
  color: currentColor;
}
