.product-title {
  text-align: center;
  margin-bottom: 281px;
  margin-top: 61px;
}
.product-title__label {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 16px;
}
.produkt-title__title {
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}
.product-list__subtitle {
}
.product-list {
  display: block;
  display: flex;
  margin: 0px;
  padding: 0px;
  gap: 32px;
  margin-bottom: 60px;
}
.product-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.product-button:focus,
.product-button:hover {
  background-color: #ecebeb;
  transition: color 0.3s ease 0s;
}
.product-btn {
  text-align: center;
}

// --------------------------------------------------------------------------------position absolute
.product-list__box {
  display: block;
  position: relative;
  width: 368px;
  padding: 165px 63px 60px 64px;
  background-color: #ffb8ca;
  border-radius: 24px;
}
.product-list__box.pic::before {
  position: absolute;
  top: -250px;
  left: 0;
  content: '';
  width: 368px;
  height: 394px;
  background-size: contain;
  background-image: url(/src/images/ice-cream-min.png);
}

.product-list__box.inner {
  background-color: #f0d1a5;
}
.product-list__box.inner::before {
  position: absolute;
  top: -250px;
  left: 0;
  content: '';
  width: 368px;
  height: 394px;
  background-size: contain;
  background-image: url(/src/images/ice-coffee-min.png);
}

.holder {
  background-color: #c2e297;
}
.product-list__box.holder::before {
  position: absolute;
  top: -250px;
  left: 0;
  content: '';
  width: 368px;
  height: 394px;
  background-size: contain;
  background-image: url(/src/images/milkshakes-min.png);
}
.product-list__subtitle {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 70px;
}
.product-list__subtitle::after {
  content: '...';
  position: absolute;
  bottom: -32px;
  right: 43%;
}
.product-list__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 60px;
}
