.about {
  padding-top: 60px;
  background-color: $back_color;

  @media screen and (max-width: 480px) {
    background-image: url(../images/about_bg_mobile.png);

    @include retina {
      background-image: url(../images/about_bg_mobile_2x.png);
    }

    background-position: right 0 bottom 160px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @include desktop {
    background-image: url(../images/about_bg_desctop.png);

    @include retina {
      background-image: url(../images/about_bg_desctop_2x.png);
    }

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.about__subtitle {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;

  font-family: $secondary-font;
  font-size: 18px;
  line-height: 1.17;

  color: $label_color;

  @include tablet {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
  }
  @include desktop {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__title {
  margin-bottom: 32px;
  text-align: center;
  text-transform: uppercase;

  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  color: $title_color;

  @include tablet {
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 1.15;
  }

  @include desktop {
    margin-bottom: 60px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.about__wrap {
  @include tablet {
    display: flex;
    gap: 32px;
  }

  @include desktop {
    gap: 99px;
    align-items: center;
  }
}

.about__img {
  max-width: 280px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 321px) {
    max-width: 336px;
  }

  @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
    max-width: 501px;
  }
}
.about__box {
  @include tablet {
    max-width: 334px;
  }

  @include desktop {
    max-width: 463px;
  }
}

.about__text {
  padding-right: 60px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  @include tablet {
    padding-right: 0;
    font-size: 14px;
    line-height: 1.76;
  }

  @include desktop {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}

.about__text--first {
  color: black;
  margin-bottom: 20px;

  @include tablet {
    margin-bottom: 23px;
  }
  @include desktop {
    margin-bottom: 32px;
  }
}

.about__text--second,
.about__text--third {
  margin-bottom: 20px;
  color: $brown;

  @include desktop {
    font-size: 14px;
    line-height: 1.94;
  }
}

.about__text--second {
  @include desktop {
    margin-bottom: 32px;
  }
}

.about__text--third {
  @include tablet {
    margin-bottom: 40px;
  }
}

.about__btn {
  min-width: 176px;
  padding: 13px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 22px;
  border: none;
  background-color: #fff;
}
.about__btn-text {
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $title_color;
}
.about__btn-icon {
  width: 5px;
  height: 8px;
}
