.advanteges {
    background-color: $back_color;

    @media  screen and (min-width: 320px) {
        padding-top: 30px; 
        
        }

    @include mobile {
        padding-top: 40px; 
        }
    
        @include tablet {
        padding-top:83px;  
        }
    
        @include desktop {
        padding-top: 60px; 
        }
}

.advanteges__list {
    @include mobile {

    }
    @include tablet {
        
        display: flex;
    }
    @include desktop {

    }
}


.advanteges__item {
    @media  screen and (min-width: 320px) {
        &:not(:last-child) {
        margin-bottom: 30px;}
        }
        @include mobile {
        &:not(:last-child) {
        margin-bottom: 40px;}
        }
        @include tablet {
        margin-bottom: 0px;
        }
        @include desktop {
        margin-bottom: 0px;
        }
}

.advanteges-icon {
    @include mobile {
    margin-bottom: 16px;
    }
    @include tablet {
    margin-bottom: 36px;
    }
    @include desktop {
        margin-bottom: 40px;
    }
}

.advanteges-text__wrap {
    @media  screen and (min-width: 320px) {
    width: 230px; 
    }
    @include mobile {
    width: 230px;
    }
    @include tablet {
    width: 162px;
    margin-right: 22px;
    }
    @include desktop {
    width: 288px;
    margin-right: 80px;
    }
    
}

.advanteges__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 1.14;
    text-transform: uppercase;
    color: $title_color;
    margin-bottom: 13px;
    margin-top: 0;

}

.text-after__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.70;
    color: #000000;
}