.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  background: linear-gradient(to bottom, #fff5f6 45%, #fff 45%);
  @include mobile {
    background: linear-gradient(to bottom, #fff5f6 42%, #fff 42%);
  }
  @include tablet {
    padding-top: 64px;
    background: linear-gradient(to bottom, #fff5f6 63%, #fff 63%);
  }
  @include desktop {
    padding-top: 120px;
    background: linear-gradient(to bottom, #fff5f6 35%, #fff 35%);
  }
}
.gallery__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.gallery__item {
  &:not(:last-child) {
    margin-right: 3px;
    @include tablet {
      margin-right: 6px;
    }
    @include desktop {
      margin-right: 8px;
    }
  }
}
.gallery__item:nth-child(-1n + 5) img:not(:last-child) {
  margin-bottom: 3px;
  @include tablet {
    margin-bottom: 6px;
  }
  @include desktop {
    margin-bottom: 8px;
  }
}
.gallery__item:nth-child(5) {
  margin-top: -10px;
  @include tablet {
    margin-top: -25px;
  }
  @include desktop {
    margin-top: -33px;
  }
}
.gallery__img {
  width: 44px;
  @include tablet {
    width: 105px;
  }
  @include desktop {
    width: 138px;
  }
}
.gallery__img--second {
  width: 90px;
  @include tablet {
    width: 214px;
  }
  @include desktop {
    width: 283px;
  }
}
