.testimonials {
    padding: 60px 20px 0 20px;
}

    .testimonials__avatars {
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
}

.testimonials__author {
    text-align: center;
}

.testimonials__quote {
    padding: 43px 50px 17px 50px;
    background-color: #EAEAEA;
    border: 1px solid;
    text-align: center;
}

.testimonials__text::before {
    content: "";
    background-image: url(../images/quote.svg);
    height: 40px;
    width: 54px;
    display: block;
}

.testimonials__text {
    padding: 0;
    margin: 0;
    background: repeating-linear-gradient(#FAFAFA 0px, #FAFAFA 30px, #E1E1E1 31px, #E1E1E1 32px);
    display: block;
    font-size: 12px;
    line-height: 2.5em;
        font-family: DM sans-serif;
}

.testimonials__quote {
    padding: 43px 50px 17px 50px;
    border: 1px solid;
    text-align: center;
    background-color: #FAFAFA;
}

.testimonials__author::before {
    content: ". . .";
    color: red;
    font-weight: 900;
    font-size: 40px;
    display: block;
    line-height: 1em;
}

.testimonials__author {
    text-align: center;
    font-size: 20px;
    line-height: 1.76em;
    font-weight: 500;
    margin-top: 36px;
    display: block;
    }
    
    /* slick slider */
    .slick-dots {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}
    
.slick-dots li {
    width: 12px;
}


.slick-dots li:not(:last-child) {
    margin-right: 18px;
}

.slick-dots li button:before {
    font-family: 'slick';
    width: 12px;
    height: 12px;
    position: absolute;
    content: '';
    background: url(../images/ellipse.svg);
}

.slick-dots li.slick-active button:before {
    content: '';
    background: url(../images/home.svg);
    width: 12px;
    height: 12px;
}

.slick-dots li {
    width: 12px;
}

button.slick-arrow {
    display: none!important;
}

.slick-dots {
    list-style: none;
    display: flex;
}

.slick-dots > li > button {
    border: none;
    background: none;
    color: transparent;
    padding: 0;
    margin: 0;
}
